{{ args.before_widget|raw }}
{{ args.before_title|raw }}
{{ widgettitle }}
{{ args.after_title|raw }}


  <div>
    <em>Date</em>: {{ activity.startTime|date("F jS \\a\\t g:ia", activity.activityTimeZone) }}
  </div>
  <div>
    <em>Calories</em>: {{ activity.metricSummary.calories }}
  </div>
  <div>
    <em>Distance</em>: {{ activity.metricSummary.distance|number_format(2) }}
  </div> 
  <div>
    <em>Duration</em>: {{ activity.metricSummary.duration }}
  </div> 
  
{{ args.after_widget|raw }}
